/* BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com> */
/* Mijnlieff implementation: Copyright 2020 Peter Oliver <bga@mavit.org.uk> */

/* This file is part of BGA Mijnlieff. */
/* */
/* BGA Mijnlieff is free software: you can redistribute it and/or modify */
/* it under the terms of the GNU General Public License as published by */
/* the Free Software Foundation, either version 3 of the License, or */
/* (at your option) any later version. */
/* */
/* BGA Mijnlieff is distributed in the hope that it will be useful, */
/* but WITHOUT ANY WARRANTY; without even the implied warranty of */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the */
/* GNU General Public License for more details. */
/* */
/* You should have received a copy of the GNU General Public License */
/* along with BGA Mijnlieff.  If not, see <https://www.gnu.org/licenses/>. */

/* This code has been produced on the BGA Studio platform for use on */
/* https://boardgamearena.com.  See https://boardgamearena.com/doc/Studio */
/* for more information. */


/* Note: on the production platform, this file will be compressed and */
/* comments will be removed.  Consequently, don't hesitate to put as many */
/* comments as necessary. */

/* Note: you must not use any @import directive */

#mijnlieff_game_area {
    text-align: center;
    position: relative;
}

.mijnlieff_layout_standard, .mijnlieff_layout_player, #mijnlieff_board_options {
    display: inline-block;
}
.mijnlieff_layout_player, #mijnlieff_board_options {
    position: absolute;
}
.mijnlieff_layout_standard {
    position: relative;
}

#mijnlieff_board {
    background-image: url('img/board.png');
    border-color: #ebd5bd;
    border-style: outset;
    border-width: 1px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    height: 320px;
    width: 320px;
}
.mijnlieff_board_option {
    border-color: rgba(36, 80, 111, 0.5);
    border-style: dashed;
    border-width: 1px;
    cursor: pointer;
    height: 154px;
    position: absolute;
    width: 154px;
}
.mijnlieff_board_option:hover {
    background-color: rgba(32, 176, 243, 0.5);
        /* rgba(36, 80, 111, 0.5); */
                      /* rgba(111, 67, 36, 0.5);  */
}

.mijnlieff_square {
    border-radius: 4px;
    box-sizing: border-box;
    height: 70px;
    position: absolute;
    width: 70px;
}
.mijnlieff_layout_standard .mijnlieff_square {
    background-image: none !important;
}
.mijnlieff_layout_player .mijnlieff_square {
    border-color: #ebd5bd;
    border-style: groove;
    opacity: 0;
}
.mijnlieff_hand .stockitem_selected,
.mijnlieff_square.mijnlieff_dragover,
.mijnlieff_square.mijnlieff_selected {
    border-color: #20bef3 !important;
    border-style: solid;
    border-width: 3px !important;
}
.mijnlieff_hand .stockitem_selected, .mijnlieff_piece.mijnlieff_latest {
    margin-bottom: 2px;
    margin-left: -2px;
    margin-right: 2px;
    margin-top: -2px;
}
.mijnlieff_square.mijnlieff_legal {
    box-shadow: inset 0 0 10px rgb(36, 80, 111);
    cursor: pointer;
}
.mijnlieff_square.mijnlieff_illegal {
}

.notouch-device .mijnlieff_touch_tip {
    display: none;
}

.mijnlieff_piece, #mijnlieff_shooting_star {
    position: absolute;
}
.mijnlieff_piece, .stockitem {
    border-radius: 4px;
    border-style: outset;
    border-width: 1px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}
.mijnlieff_piece.mijnlieff_black, .stockitem.mijnlieff_black {
    border-color: #8b542d;
}
.mijnlieff_piece.mijnlieff_white, .stockitem.mijnlieff_white {
    border-color: #ff7a28;
}
.mijnlieff_piece.mijnlieff_latest {
    border-color: rgb(36, 80, 111) !important;
    border-style: solid;
    border-width: 3px !important;
}

.mijnlieff_hand {
    margin-top: 4px;
    margin-left: 4px;
}
#mijnlieff_hand_wrapper {
    margin-top: 10px;

    /* Adapted from .player-board */
    background-color: #ebd5bd;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    padding: 5px;
}

#map_container {
    height: 480px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#map_surface {
    cursor: move;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#map_footer {
    text-align: center;
}
#movetop, #moveleft, #moveright, #movedown {
    background-image: url('../../../img/common/arrows.png');
    display: block;
    height: 32px;
    position: absolute;
    width: 32px;
}
#movetop {
    background-position: 0 32px;
    left: 50%;
    top: 0;
}
#moveleft {
    background-position: 32px 0;
    left: 0;
    top: 50%;
}
#moveright {
    background-position: 0 0;
    right: 0;
    top: 50%;
}
#movedown {
    background-position: 32px 32px;
    bottom: 0;
    left: 50%;
}
